<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
        <h3>General</h3>
        <ul class="nav side-menu">
            <li>
                <a><i class="fa fa-users"></i> Users <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="@Url.Action("Create", "Users")">Add User</a></li>
                    <li><a href="@Url.Action("Index", "Users")">Users List</a></li>
                </ul>
            </li>
            <li>
                <a><i class="fa fa-edit"></i> Categories <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="@Url.Action("Create", "Categories")">Add Category</a></li>
                    <li><a href="@Url.Action("Index", "Categories")">Categories List</a></li>
                </ul>
            </li>
            <li>
                <a><i class="fa fa-desktop"></i> Exams <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="@Url.Action("AddExam", "admin")">Add Exam</a></li>
                    <li><a href="@Url.Action("ManageExam", "admin")">Exams List</a></li>
                </ul>
            </li>
            <li>
                <a><i class="fa fa-desktop"></i> Questions <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="@Url.Action("AddQuestion", "admin")">Add Question</a></li>
                    <li><a href="@Url.Action("ManageQuestion", "admin")">Questions List</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
